.Product1
{
 border: 1px solid rgb(15, 14, 14);
 border-radius: 24px;
 margin-bottom: 25px;
 /* padding: 0 15px 0 15px; */
 margin-left: 15px;
 width: 200px;
 height:200px;
 border-color: black;
  

}
